<div>
    <h2>
        <span>Json Vehicle Routing Solutions</span>
        <button class="btn btn-primary float-right jh-create-entity create-json-vehicle-routing-solution" [routerLink]="['/', { outlets: { popup: ['json-vehicle-routing-solution-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Json Vehicle Routing Solution
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jsonVehicleRoutingSolutions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Feasible</span></th>
            <th><span>Distance</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jsonVehicleRoutingSolution of jsonVehicleRoutingSolutions ;trackBy: trackId">
                <td><a [routerLink]="['../json-vehicle-routing-solution', jsonVehicleRoutingSolution.id ]">{{jsonVehicleRoutingSolution.id}}</a></td>
                <td>{{jsonVehicleRoutingSolution.name}}</td>
                <td>{{jsonVehicleRoutingSolution.feasible}}</td>
                <td>{{jsonVehicleRoutingSolution.distance}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../json-vehicle-routing-solution', jsonVehicleRoutingSolution.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'json-vehicle-routing-solution/'+ jsonVehicleRoutingSolution.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'json-vehicle-routing-solution/'+ jsonVehicleRoutingSolution.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
