<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJsonCustomerLabel">Create or edit a Json Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jsonCustomer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jsonCustomer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_locationName">Location Name</label>
            <input type="text" class="form-control" name="locationName" id="field_locationName"
                [(ngModel)]="jsonCustomer.locationName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="jsonCustomer.latitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="jsonCustomer.longitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_demand">Demand</label>
            <input type="number" class="form-control" name="demand" id="field_demand"
                [(ngModel)]="jsonCustomer.demand" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_vehicleRoutingSolution">Vehicle Routing Solution</label>
            <select class="form-control" id="field_vehicleRoutingSolution" name="vehicleRoutingSolution" [(ngModel)]="jsonCustomer.vehicleRoutingSolution" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jsonVehicleRoutingSolutionOption.id === jsonCustomer.vehicleRoutingSolution?.id ? jsonCustomer.vehicleRoutingSolution : jsonVehicleRoutingSolutionOption" *ngFor="let jsonVehicleRoutingSolutionOption of jsonvehicleroutingsolutions; trackBy: trackJsonVehicleRoutingSolutionById">{{jsonVehicleRoutingSolutionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_vehicleRoute">Vehicle Route</label>
            <select class="form-control" id="field_vehicleRoute" name="vehicleRoute" [(ngModel)]="jsonCustomer.vehicleRoute" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jsonVehicleRouteOption.id === jsonCustomer.vehicleRoute?.id ? jsonCustomer.vehicleRoute : jsonVehicleRouteOption" *ngFor="let jsonVehicleRouteOption of jsonvehicleroutes; trackBy: trackJsonVehicleRouteById">{{jsonVehicleRouteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
