
<div *ngIf="jsonCustomer">
    <h2><span>Json Customer</span> {{jsonCustomer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Location Name</span></dt>
        <dd>
            <span>{{jsonCustomer.locationName}}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
            <span>{{jsonCustomer.latitude}}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
            <span>{{jsonCustomer.longitude}}</span>
        </dd>
        <dt><span>Demand</span></dt>
        <dd>
            <span>{{jsonCustomer.demand}}</span>
        </dd>
        <dt><span>Vehicle Routing Solution</span></dt>
        <dd>
            <div *ngIf="jsonCustomer.vehicleRoutingSolution">
                <a [routerLink]="['/json-vehicle-routing-solution', jsonCustomer.vehicleRoutingSolution?.id]">{{jsonCustomer.vehicleRoutingSolution?.id}}</a>
            </div>
        </dd>
        <dt><span>Vehicle Route</span></dt>
        <dd>
            <div *ngIf="jsonCustomer.vehicleRoute">
                <a [routerLink]="['/json-vehicle-route', jsonCustomer.vehicleRoute?.id]">{{jsonCustomer.vehicleRoute?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'json-customer/'+ jsonCustomer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
