<div>
    <h2>
        <span>Json Customers</span>
        <button class="btn btn-primary float-right jh-create-entity create-json-customer" [routerLink]="['/', { outlets: { popup: ['json-customer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Json Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jsonCustomers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Location Name</span></th>
            <th><span>Latitude</span></th>
            <th><span>Longitude</span></th>
            <th><span>Demand</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jsonCustomer of jsonCustomers ;trackBy: trackId">
                <td><a [routerLink]="['../json-customer', jsonCustomer.id ]">{{jsonCustomer.id}}</a></td>
                <td>{{jsonCustomer.locationName}}</td>
                <td>{{jsonCustomer.latitude}}</td>
                <td>{{jsonCustomer.longitude}}</td>
                <td>{{jsonCustomer.demand}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../json-customer', jsonCustomer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'json-customer/'+ jsonCustomer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'json-customer/'+ jsonCustomer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
